
venv/


.vscode/
*.pyc


*.log
*.pot
*.pyc
__pycache__/


media/


local_settings.py


*.sqlite3
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc


.env


*.log
logs/
*.db
*.bak


.DS_Store
Thumbs.db

secrets.py