body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: orange;
}

.header-container {
    background-color: #FFA500;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    color: #000;
}

.logo-link {
    text-decoration: none; 
    color: #000; 
}

.login-container {
    color: #000;
}

.login-container a {
    color: #030302;
    text-decoration: none;
    margin-right: 10px;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container img {
    border-radius: 50%;
    margin-right: 10px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.top_column {
    width: 100%;
    background-color: #ffffff; 
    padding: 10px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px; 
    background-color: #FFA500; 
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px; 
}

.button-container button:hover {
    background-color: #FF8C00;
}

.left_column {
    width: 200px; 
    background-color: #ffffff; 
    padding: 10px;
}

.left_column button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFA500;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    border-radius: 20px; 
}

.left_column button:hover {
    background-color: #FF8C00; 
}

.right_column {
    width: 200px; 
    background-color: #ffffff; 
    padding: 30px;
    text-align: center;
}

.pc-only {
    display: block;
}

.center_column {
    display: block;
    width: 60%;
    text-align: center;

}

@media screen and (max-width: 768px) {
    .pc-only {
        display: none;
    }
}

#clock {
    font-size: 24px;
    margin-bottom: 20px;
}


#calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#calendar-controls button {
    padding: 5px 10px;
    background-color: #FFA500;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#calendar-controls button:hover {
    background-color: #FF8C00;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

#calendar th {
    background-color: #FFA500;
    color: #000;
}

#calendar td:hover {
    background-color: #FFA500;
    color: #000;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .header-container {
        border-right: none;
    }


    .left_column, .right_column {
        width: 100%;
        margin-bottom: 20px; 
    }

    .left_column button {
        width: auto; 
    }
}


.login {
    width: 300px;
    margin: 0 auto; 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login a {
    color: red;
    text-decoration: none;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.alert {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}


.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: rgb(235, 153, 2);
}
