
{% load static %}
<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodzina Med</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script/script.js' %}"></script> 
</head>

<body>
    <header class='header-container'>
        <div class='logo'>
            <a href='/' class="logo-link">
                <img src="/media/base/logo Rodzina Med.jpg" alt="Rodzina Med Logo" width="150" height="150">
            </a>
        </div>
        <div class='login-container'>
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="User Avatar" width="50" height="50">
                {% endif %}
                <a href="{% url 'user_info' %}">Witaj, {{ user.username }}</a>
                <br> <a href="{% url 'logout' %}">Wyłoguj się</a>
            {% endif %}
        </div>
    </header>

    <div class='main-container'>
        {% if user.is_staff %}
        <div class="staff_link">
            <a href="{% url 'user_list' %}">Lista pracowników</a>
        </div>
        {% endif %}

        <div class='top_column'>
            <div class="button-container">
                <a href=''>Lekarz rodziny</a>
                <a href=''>Pediatra</a>
                <a href=''>Pielęgniarka środowiskowa</a>
            </div>
        </div>

        <div class='left_column'>
            <a href='/' class="staff_link">
                Strona glówna    <img src="/media/base/logo Rodzina Med.jpg" alt="Rodzina Med Logo" style="margin-left: 10px;" width="20" height="20">
            </a>
            <a href=''>przytisk 2</a>
            <a href=''>przytisk 3</a>
            <a href=''>przytisk 4</a>
            <a href=''>przytisk 5</a>
            <a href=''>przytisk 6</a>
            <a href=''>przytisk 7</a>
        </div>

        <div class='center_column'>
            {% block content %}

            {% endblock %} 
        </div>

        <div class='right_column'>
            <div class="pc-only">
                <div id="clock"></div>
                <div id="calendar-controls">
                    <button id="prev-month">&lt;</button>
                    <h2 id="current-month-year">Nazwa Miesiąca 2024</h2>
                    <button id="next-month">&gt;</button>
                </div>
                <div id="calendar"></div>
            </div>

        </div>


    </div>

</body>
</html>