
{% load static %}
<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodzina Med</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script/script.js' %}"></script> 

</head>

<body>
    <header class='header-container'>
        <div class="logo-container">
            <div class="logo">
                <a href="/" class="logo-link">
                    <img src="/media/base/naglowek.jpg" alt="Rodzina Med Logo">
                </a>
            </div>
        </div>
        <div class='login-container'>
            <div class='image-container'>
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="User Avatar" width="50" height="50">
                {% endif %}
            </div>
            <div class='link-container'>
                    <a href="{% url 'user_info' %}">Witaj, {{ user.username }}</a>
                    <a href="{% url 'logout' %}">Wyłoguj się</a>
            {% endif %}
            </div>
        </div>
    </header>
    {% if user.is_staff %}
    <div class="staff-link-container">
        <div class="staff_link">
            <a href="{% url 'post_create' %}">Dodaj post</a>
            <a href="{% url 'message_list' %}">Lista komunikatów</a>
            {% comment %} <a href="{% url '/' %}"> </a> {% endcomment %}
            {% comment %} <a href="{% url '/' %}"> </a> {% endcomment %}
            {% comment %} <a href="{% url '/' %}"> </a> {% endcomment %}
            <a href="{% url 'doctor_list' %}">Lista lekarzy</a>
            <a href="{% url 'user_list' %}">Lista pracowników</a>

        </div>
    </div>
    {% endif %}
    <div class='main-container'>

        <div class='left_column'>
            <a href='/' class="staff_link">
                Strona glówna <img src="/media/base/logo Rodzina Med.jpg" alt="Rodzina Med Logo" style="margin-left: 10px;" width="20" height="20">
            </a>
            <a href="{% url 'offers' %}">Oferta</a>
            <a href=''>Deklaracja poz</a>
            <a href='{% url "rodo_list" %}'>Rodo</a>
            <a href="{% url 'intake_point' %}">Punkt pobrań</a>
            <a href="{% url 'vaccinations' %}">Szczepienia </a>
            <a href="{% url 'reglamin_list' %}">Regulamin</a>
            <a href="{% url 'contact_list' %}">Kontakt z nami</a>
            <a href="{% url 'file_list' %}">Pliki do pobrania</a>
        </div>
    
        <div class='center_column'>
            
            {% block content %}
            {% endblock %} 
        </div>
    
        <div class='right_column'>
            <div class="pc-only">
                <div id="clock"></div>
                <div id="calendar-controls">
                    <button id="prev-month">&lt;</button>
                    <h2 id="current-month-year">Nazwa Miesiąca 2024</h2>
                    <button id="next-month">&gt;</button>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    
    </body>
    </html>