{% extends "base.html" %}
{% block content %}
<div class='intake_point'>
    <h2>Badania profilaktyczne 40+</h2>

    <p>
        Profilaktyka 40 PLUS to program bezpłatnych badań profilaktycznych dla wszystkich Polaków i Polek powyżej 40. roku życia. Celem programu jest zwiększenie liczby osób wykonujących takie badania, wczesne wykrywanie chorób i zaburzeń oraz zapobieganie ich rozwojowi.
        W czasie pandemii dostępność do opieki medycznej i badań oferowanych przez Narodowy Fundusz Zdrowia była ograniczona, dlatego obecnie tak ważne jest, by ten czas zrekompensować i wykonać badania profilaktyczne. Wczesne wykrycie schorzeń to większa szansa na skuteczne leczenie. Warto z niej skorzystać!
    </p>

    <h3>Pakiet badań diagnostycznych dla kobiet zawiera:</h3>
    <ul>
        <li>morfologia krwi obwodowej z wzorem odsetkowym i płytkami krwi;</li>
        <li>stężenie cholesterolu całkowitego albo kontrolny profil lipidowy;</li>
        <li>stężenie glukozy we krwi;</li>
        <li>AlAT, AspAT, GGTP;</li>
        <li>poziom kreatyniny we krwi;</li>
        <li>badanie ogólne moczu;</li>
        <li>poziom kwasu moczowego we krwi;</li>
        <li>krew utajona w kale – metodą immunochemiczną (iFOBT);</li>
        <li>pomiar ciśnienia tętniczego;</li>
        <li>pomiar masy ciała, wzrostu, obwodu w pasie oraz obliczenie wskaźnika masy ciała (BMI).</li>
    </ul>

    <h3>Pakiet badań diagnostycznych dla mężczyzn zawiera:</h3>
    <ul>
        <li>morfologia krwi obwodowej odsetkowym i płytkami krwi;</li>
        <li>stężenie cholesterolu całkowitego albo kontrolny profil lipidowy;</li>
        <li>stężenie glukozy we krwi;</li>
        <li>AlAT, AspAT, GGTP;</li>
        <li>poziom kreatyniny we krwi;</li>
        <li>badanie ogólne moczu;</li>
        <li>poziom kwasu moczowego we krwi;</li>
        <li>krew utajona w kale – metodą immunochemiczną (iFOBT);</li>
        <li>PSA – antygen swoisty dla stercza całkowity;</li>
        <li>pomiar ciśnienia tętniczego;</li>
        <li>pomiar masy ciała, wzrostu, obwodu w pasie oraz obliczenie wskaźnika masy ciała (BMI).</li>
    </ul>

    <h2>Przygotowanie do badań</h2>
    
    <h4>Badanie moczu</h4>
    <ol>
        <li>Zaopatrz się w specjalny jednorazowy pojemnik (do kupienia w aptece).</li>
        <li>Przed pobraniem próbki moczu umyj ręce, a następnie ujście cewki moczowej.</li>
        <li>Do pojemnika oddaj mocz z tzw. “środkowego strumienia“.</li>
        <li>Pierwszą niewielką ilość moczu należy oddać do toalety.</li>
        <li>Następnie oddać mocz do pojemnika (od 50 do 100 mililitrów).</li>
        <li>Końcową porcję moczu należy znów oddać do toalety.</li>
        <li>Zamknij szczelnie pojemnik z pobraną próbką moczu, na pojemniku napisz imię, nazwisko, datę i godzinę pobrania – nie umieszczaj informacji na pokrywce.</li>
        <li>Próbkę moczu dostarcz jak najszybciej do Punktu Badań.</li>
        <li>Jeśli nie możesz dostarczyć pojemnika natychmiast, umieść go w lodówce i przynieś do zbadania w ciągu 2-3 godzin.</li>
    </ol>

    <h4>Badanie krwi</h4>
    <ol>
        <li>Pobranie wykonaj w godzinach porannych, tj. pomiędzy 7:00 a 11:00.</li>
        <li>Bądź na czczo – ostatni posiłek spożyj w dniu poprzedzającym badanie najpóźniej ok. godziny 18:00.</li>
        <li>Rano przed badaniem wypij szklankę wody niegazowanej.</li>
        <li>Bądź wyspany – na badanie przyjdź po całonocnym wypoczynku.</li>
        <li>Unikaj wysiłku fizycznego przez ok. 12 godzin przed pobraniem krwi.</li>
        <li>Chwilę przed badaniem wypocznij – ok 15 min w pozycji siedzącej bezpośrednio przed pobraniem.</li>
        <li>Jeżeli zażywasz na stałe leki, skonsultuj się z lekarzem, czy nie będą one wpływać na wyniki badań i czy istnieje możliwość ich zażycia po badaniu.</li>
    </ol>

    <h4>Pobranie kału – krok po kroku</h4>
    <ol>
        <li>Proszę zaopatrzyć się wcześniej w aptece w specjalny pojemnik z przytwierdzoną do nakrętki łopatką i czyste, suche naczynie (basen, ewentualnie plastikowy jednorazowy pojemnik).</li>
        <li>Przed pobraniem próbki należy opróżnić pęcherz moczowy.</li>
        <li>Po oddaniu kału do przygotowanego wcześniej czystego suchego pojemnika za pomocą łopatki z nakrętki pojemnika należy pobrać małe próbki kału z kilku punktów, szczególnie tych zawierających np. krew, śluz lub ropę.</li>
        <li>Jeśli w kale widoczne są pasożyty, należy oddzielić je od próbki, wypłukać wodą i przesłać do laboratorium w oddzielnym pojemniku zawierającym niewielką ilość wody lub soli fizjologicznej.</li>
        <li>Całkowita ilość kału w pojemniku powinna odpowiadać wielkości orzecha laskowego, a jeśli kał jest płynny objętość próbki powinna wynosić 2-3 ml.</li>
    </ol>

    <h4>Rejestracja na badanie</h4>
    <p>Rejestracja na badanie (przez <a href="https://www.gov.pl/web/zdrowie/profilaktyka-40-plus">gov.pl</a>) lub przez infolinię 800 100 101 (w godzinach od 8:00 do 18:00).</p>
    <p>Więcej informacji: <a href="https://www.gov.pl/web/zdrowie/profilaktyka-40-plus">https://www.gov.pl/web/zdrowie/profilaktyka-40-plus</a></p>
</div>

{% endblock  %}