{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<div class='offers'>
    <h2>Nasze Oferty</h2>

    <div class="offer-section">
        <strong>1) Lekarz medycyny rodzinnej</strong>
        <ul class="service-list">
            <li>a) Wizyta i teleporady</li>
            <li>b) E-skierowania</li>
            <li>c) E-recepty</li>
        </ul>
        {% for doctor in doctors_list %}
            {% if doctor.specialization == "lekarz rodziny" %}
                <div class="doctor-box">
                    <div class="doctor-item">
                        <strong>{{ doctor.first_name }} {{ doctor.last_name }}</strong>
                    </div>
                    {% if doctor.monday or doctor.tuesday or doctor.wednesday or doctor.thursday or doctor.friday %}
                        <p class="working-hours-title">Godziny pracy:</p>
                        <ul class="working-hours">
                            {% for day in doctor_days %}
                                {% with working_hours=doctor|get_day:day %}
                                    {% if working_hours and working_hours != "Null" %}
                                        <li>{{ day|capfirst }}: {{ working_hours }}</li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="offer-section">
        <strong>2) Pediatra</strong>
        <ul class="service-list">
            <li>a) Wizyty i wizyty domowe</li>
            <li>b) Kwalifikacja do obowiązkowych i zalecanych szczepień ochronnych</li>
        </ul>
        {% for doctor in doctors_list %}
            {% if doctor.specialization == "pediatra" %}
                <div class="doctor-box">
                    <div class="doctor-item">
                        <strong>{{ doctor.first_name }} {{ doctor.last_name }}</strong>
                    </div>
                    {% if doctor.monday or doctor.tuesday or doctor.wednesday or doctor.thursday or doctor.friday %}
                        <p class="working-hours-title">Godziny pracy:</p>
                        <ul class="working-hours">
                            {% for day in doctor_days %}
                                {% with working_hours=doctor|get_day:day %}
                                    {% if working_hours and working_hours != "Null" %}
                                        <li>{{ day|capfirst }}: {{ working_hours }}</li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="offer-section">
        <strong>3) Pielęgniarka</strong>
        <ul class="service-list">
            <li>a) Szczepienia ochronne</li>
            <li>b) <a href="{% url 'vaccinations' %}">Obowiązkowe szczepienia ochronne</a></li>
            <li>c) <a href="{% url 'vaccinations' %}">Zalecane szczepienia ochronne</a></li>
        </ul>
        {% for doctor in doctors_list %}
            {% if doctor.specialization == "pielęgniarka środowiskowa" %}
                <div class="doctor-box">
                    <div class="doctor-item">
                        <strong>{{ doctor.first_name }} {{ doctor.last_name }}</strong>
                    </div>
                    {% if doctor.monday or doctor.tuesday or doctor.wednesday or doctor.thursday or doctor.friday %}
                        <p class="working-hours-title">Godziny pracy:</p>
                        <ul class="working-hours">
                            {% for day in doctor_days %}
                                {% with working_hours=doctor|get_day:day %}
                                    {% if working_hours and working_hours != "Null" %}
                                        <li>{{ day|capfirst }}: {{ working_hours }}</li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="offer-section">
        <strong>4) Laboratorium</strong>
        <ul class="service-list">
            <li>a) <a href="{% url 'intake_point' %}">Badania profilaktyczne 40+</a></li>
            <li>b) Badania zlecone przez lekarza rodzinnego</li>
        </ul>
    </div>
</div>
{% endblock %}
