{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<div class="container">
    {% if active_messages %}
    {% for message in active_messages %}
        <div class="alert alert-info">
            <h4>{{ message.title }}</h4>
            <p>{{ message.text }}</p>
        </div>
    {% endfor %}
{% endif %}
    <h2>{{ list_title }}</h2>
    <div class="list-content">
        {% for element, update_url, delete_url, file_upload_url in element %}
            <div class="list-card">
                <ul>
                    <li>
                        <strong>{{ labels.title|capfirst }}:</strong> {{ element.title }}
                    </li>

                    {% if element.content %}
                        <li>
                            <strong>{{ labels.content|capfirst }}:</strong> {{ element.content }}
                        </li>
                    {% endif %}

                    <li>
                        <strong>{{ labels.date|capfirst }}:</strong> {{ element.date|date:"d, F Y"|capfirst }}
                    </li>

                    {% if file_upload_url %}
                        <li>
                            <strong>{{ labels.file|capfirst }}</strong>
                            <br>
                            <img src="{{ file_upload_url }}" alt="Obraz" style="max-width: 100%; max-height: 100%;">
                        </li>
                    {% endif %}

                    {% if user.is_staff %}
                    <div class='button-card'>
                        <div class='update-url'>
                            <a href="{{ update_url }}" class="btn-update">Aktualizuj dane</a>
                        </div>
                        <div class='delete-url'>
                            <a href="{{ delete_url }}" class="btn-delete">Usuń dane</a>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następna</a>
        {% endif %}
    </span>
</div>
{% endblock %}
